/*верхний черный блок*/
.black-top-block {
    background-color: black;
    height: 30px;
    text-align: right;
    padding: 5px 10px;
}

/*разделение слов вход и регистрация*/
.top-block-part {
    margin: 10px;
    cursor: pointer;
    color: lightslategrey;
}

a.top-block-part {
    color: lightslategrey;
}

/*для модалок*/
.center {
    text-align: left;
}

/*тело для страниц без левого меню*/
.content {
    margin: auto;
    width: 950px;
}

/*второй заголовок*/
.menu {
    position: relative;
    margin: 10px 0px;
}

/*заголовок страницы*/
.title {
    position: absolute;
    top: 20px;
    left: 250px;
}

.menu-right {
    position: absolute;
    top: 40px;
    right: 1px;
}

/*правый блок для страниц с левым меню*/
.right-block {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 30px;
    margin-bottom: 50px;
    width: 680px;
    text-align: justify;
}

/*левый блок*/
.left-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 220px;
    /*height: 630px;*/
    background-color: white;
    padding: 20px 20px;
    text-align: justify;
    border-right: solid 1px grey;
    /*border-radius : 10px;*/
}

/*левый блок для каталога, то есть сортировка*/
.sorting-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 220px;
    /*height: 630px;*/
    background-color: white;
    padding: 20px 20px;
    text-align: justify;
    border-right: solid 1px grey;
/ / border-radius : 10 px;
}

/*книга в каталоге*/
.book {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 180px;
    /*height: 320px;*/
    padding: 10px 20px;
    /*border: solid 1px;*/
    /*border-radius: 10px;*/
    text-align: left;
}

/*книга в корзине*/
.cart-block {
    display: inline-block;
    width: 660px;
    margin-left: 20px;
}

/*блок с описанием книги */
.book-info {
    display: inline-block;
    vertical-align: top;
    width: 660px;
    height: 180px;
    margin-top: 20px;
    margin-left: 20px;
}

/*блок с описанием заказа*/
.order-info {
    display: inline-block;
    vertical-align: top;
    width: 660px;
    margin-top: 20px;
    margin-left: 20px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

hr {
    color: grey;
    background-color: grey;
    border: none;
    height: 1px;
}

/*для выпадающего окна в меню*/
.align-left {
    text-align: left;
}

/*карусель в описании книг*/
.carousel-block {
    display: inline-block;
    width: 660px;
    margin-left: 20px;
    margin-top: 80px;
    /*margin: auto;*/
}

/*карусель при входе*/
.enter-carousel-block {
    display: inline-block;
    margin-right: 70px;
    margin-left: 30px;
    margin-top: 30px;
    width: 500px;
}

/*блок с формой для входа*/
.enter-block {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    padding: 50px 0px;
    margin-top: 30px;
}

a.logo {
    background: url(/resources/images/logo.jpg);
    display: block;
    width: 200px;
    height: 117px;
}

/*изображении книги в описании товара*/
.book-imagine {
    position: absolute;
    right: 50px;
}

.button-in-order-block {
    position: absolute;
    right: 50px;
    margin-top: 35px;
}

/*заголовок заказа пользователя*/
.order-head {
    background-color: gainsboro;
    padding: 10px;
}

/*блок регистрации*/
.registration-block {
    display: inline-block;
    margin: auto;
    width: 380px;
    margin-bottom: 50px;
    padding: 20px;
}

/*картинки справа и слева на странице регистрации*/
.img-reg-block {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.cursor {
    cursor: pointer;
}

#hidden-block {
    display: none;
}

#order {
    display: inline;
}

.delete-button{
    position: absolute;
    right: 5px;
}

.left-refactor-block{
    display: inline-block;
    vertical-align: top;
    margin-left: 80px;
}

.right-refactor-block{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-left: 80px;
}



